spring:
  application:
    name: task-manager

  datasource:
    url: jdbc:postgresql://postgres.database.svc.cluster.local:5432/taskmanager
    username: postgres
    password: postgres123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: d14a028c2a3a2bc9476102bb288234c415a2b01f828ea62ac5b3e42f
  expiration: 604800000

logging:
  level:
    org.springframework.security: DEBUG

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: task-manager