apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  namespace: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: app
          image: briankimathi/task-manager:2be89106935bd414f487bf6c41d13c9d13ee32d5
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: app-secret
