apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  namespace: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: app
          image: briankimathi/task-manager:a1e784afc973ca4039e8c8a629ac198631d0ae26
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: app-secret
