apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  namespace: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: app
          image: briankimathi/task-manager:b48f95ec5134a5d68f13b937ecb48004e7e7dc74
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: app-secret
