apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  namespace: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: app
          image: briankimathi/task-manager:33f398db67b5a8e80089d04fa3c0a322f8ebb3c9
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: app-secret
