apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  namespace: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: app
          image: briankimathi/task-manager:2baf4142b38e2eb689c534d6dfea1187d3b79747
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: app-secret
