apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  namespace: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: app
          image: briankimathi/task-manager:5f37fe597d96a980b77a99ed80d594709e852b84
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: app-secret
